<header>
  <nav>
    <div class="logo"><a href="/"><img src="img/chile.png" width="25" />Rut</a></div>
    <div class="seccion">
      <a href="/"><img src="img/user.png" />Buscar por RUT</a>
      <a href="/api"><img src="img/gear.png" />API Libre</a>
      <a href="/preguntas"><img src="img/question.png" /></a>
    </div>
  </nav>
</header>