<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#161b22" />
    <meta name="description" content="API Rut Libre para obtener datos de personas registradas en chile, que poseen un Rut." />
    <meta name="keywords" content="chile, chilena, nacionalidad, rut, nombre, nombres, Rut, datos, obtener, api, API, libreapi, rest, apellido, apellidos"/>
    <meta property="og:locale" content="es_CL" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Rut - API Libre" />
    <meta property="og:description" content="API Rut Libre para obtener datos de personas registradas en chile, que poseen un Rut." />
    <meta property="og:url" content="<%= url_page %>/api" />
    <meta property="og:site_name" content="Rut - API Libre" />
    <meta property="og:image:secure_url" content="<%= url_page %>/img/ogws300.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />
    <link rel="icon" href="img/favicon.png" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/main.css" />
    <script src="js/utils/highlight.min.js"></script>
    <link rel="stylesheet" href="css/atom-one-dark.css" />
    <title>Rut - ⚙ API</title>
  </head>
  <body>
    <%- include('partials/header') %>

    <main>
      <h1>API</h1>

      <h2>Documentación</h2>

      <p>Esta documentación está orientada a obtener datos referenciados a un Rut de una forma fácil, basado en el modelo REST API.</p>

      <%- include('partials/endpoints/getRut') %>
      
    </main>

    <script>
      hljs.highlightAll();
    </script>

  </body>
</html>
