<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="img/favicon.png" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/main.css" />
    <meta name="theme-color" content="#161b22" />
    <meta name="description" content="Portfolio personal" />
    <script src="js/utils/highlight.min.js"></script>
    <link rel="stylesheet" href="css/atom-one-dark.css" />
    <title>Rut - ⚙ API</title>
  </head>
  <body>
    <%- include('partials/header') %>

    <main>
      <h1>API</h1>

      <h2>Documentación</h2>

      <p>Esta documentación está orientada a obtener datos referenciados a un Rut de una forma fácil, basado en el modelo REST API.</p>

      <%- include('partials/endpoints/getRut') %>
      
    </main>

    <script>
      hljs.highlightAll();
    </script>

  </body>
</html>
