<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#161b22" />
    <meta name="description" content="Preguntas Orientativas sobre esta pagina." />
    <meta name="keywords" content="preguntas, frecuentes, chile, chilena, rut, nombre, nombres, Rut, datos, obtener, api, API, libreapi, rest, apellido, apellidos"/>
    <meta property="og:locale" content="es_CL" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Rut - ❓ Preguntas Frecuentes" />
    <meta property="og:description" content="Preguntas Orientativas sobre esta pagina." />
    <meta property="og:url" content="<%= url_page %>" />
    <meta property="og:site_name" content="Rut - ❓ Preguntas Frecuentes" />
    <meta property="og:image:secure_url" content="<%= url_page %>/img/ogws300.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />
    <link rel="icon" href="img/favicon.png" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/atom-one-dark.css" />
    <title>Rut - ❓ Preguntas Frecuentes</title>
  </head>
  <body>
    <%- include('partials/header') %>

    <main>
      <h1>Preguntas Orientativas</h1>

      <h3>¿De dónde se obtienen los datos?</h3>

      <p>Los datos son obtenidos de APIs publicas.</p>

      <h3>¿Porque existe esta API o Web para obtener estos datos?</h3>

      <p>Esta Web existe para simplificar la obtención de datos, ya que en mi búsqueda para solucionar mi necesidad me resultaba complicado encontrar lugares de confianza y que proporcionara los datos.</p>

      <h3>¿Tiene algún costo su utilización?</h3>

      <p>No tiene ningún costo asociado todo lo proporcionado por esta Web.</p>

      <h3>¿De donde se obtienen las imágenes?</h3>

      <p>Las imágenes son obtenidas desde <a href="https://www.flaticon.com/" target="_blank" rel="noopener noreferrer">flaticon</a> y son de uso libre referenciando su procedencia.</p>

    </main>

  </body>
</html>
